body {
    background: url(../images/background.png);
}

ul {
    list-style-type: none;
    text-align: left;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}